{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.cognitect.aws/api {:mvn/version "0.8.615"}
        meander/epsilon {:mvn/version "0.0.650"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        babashka/fs {:mvn/version "0.2.12"}
        instaparse/instaparse {:mvn/version "1.4.12"}}
 :aliases
 {:test
  ;; This profile doesn’t use :main-opts to start the test runner because that prevents some IDEs
  ;; (such as Calva) from starting a REPL using this profile. So instead, we run the tests with the
  ;; script bin/test (as recommended by the Kaocha docs).
  {:extra-paths ["test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/jul-factory"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.71.1119" :exclusions [org.slf4j/slf4j-api]}
    org.clojure/test.check {:mvn/version "1.1.1"}
    com.gfredericks/test.chuck {:mvn/version "0.2.13"}
    com.cognitect.aws/endpoints  {:mvn/version "1.1.12.351"}
    com.cognitect.aws/organizations {:mvn/version "825.2.1262.0"}
    com.cognitect.aws/s3 {:mvn/version "825.2.1250.0"}
    com.cognitect.aws/codecommit {:mvn/version "821.2.1107.0"}}}
  :build
  {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.5" :git/sha "de693d0"}}
   :ns-default build}}}
