{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.cognitect.aws/api {:mvn/version "0.8.539"}
        meander/epsilon {:mvn/version "0.0.650"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        babashka/fs {:mvn/version "0.1.4"}
        instaparse/instaparse {:mvn/version "1.4.12"}}
 :aliases
 {:test
  ;; This profile doesn’t use :main-opts to start the test runner because that prevents some IDEs
  ;; (such as Calva) from starting a REPL using this profile. So instead, we run the tests with the
  ;; script bin/test (as recommended by the Kaocha docs).
  {:extra-paths ["test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/jul-factory"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034" :exclusions [org.slf4j/slf4j-api]}
                org.clojure/test.check {:mvn/version "1.1.1"}
                com.gfredericks/test.chuck {:mvn/version "0.2.13"}
                com.cognitect.aws/endpoints  {:mvn/version "1.1.12.206"}
                com.cognitect.aws/organizations {:mvn/version "822.2.1109.0"}
                com.cognitect.aws/s3 {:mvn/version "822.2.1109.0"}}}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
          :ns-default build}}}
